<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eBay Search Results</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/style.css">
    <script type="module" src="/scripts/return_search_api.js"></script>
  

  </head>
  <body>
      <% include partials/item_nav.ejs %>
      <div class="body-content">

        <table>
          <div>
            
            <% var countriesIndex = 0 %>
            <% while (countriesIndex < countries.length) { %>
              <% var country = countries[countriesIndex] %>
              <tr>

                <% for (var index = 0; index < result[country]; index++) %>
                <th><h1><%-country%></h1></th>
                <%  Object.keys(result[country]).forEach(function(key) { %>
                
                  <th><%- JSON.stringify(result[country][key].title)%></th>
                  <td><a href=<%- JSON.stringify(result[country][key].url)%></a><img  class="image" src=<%-JSON.stringify(result[country][key].image)%> alt=""></a>
                  <div class="price">
                  <%- JSON.stringify(result[country][key].price) %></td>
                  </div>
                <% }); %>
              </tr>
              
              <% countriesIndex += 1 %>
            <% } %>
          

        </div>
      </table>
          
       
        
    </div>
 

  </body>

</html>
