<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eBay Search Results</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/style.css">
    <script type="module" src="/scripts/return_search_api.js"></script>
  

  </head>
  <body>
      <% include partials/item_nav.ejs %>
      <div class="body-content">
        <!-- <% console.log("I'm in the index file") %> -->
        <% console.log(JSON.stringify(result[0])) %>

        <table>
          <div>
            <% var countriesIndex = 0 %>
            <% while (countriesIndex < result.length) { %> 
              <th><h2><%- JSON.stringify(result[countriesIndex][0].countryCode) %></h2></th>
              <tr>
                <%  Object.keys(result[countriesIndex]).forEach(function(key) { %>
                  <% console.log("This is the key:" + JSON.stringify(result[countriesIndex][key])) %>
                  <th><%- JSON.stringify(result[countriesIndex][key].title)%></th>
                  <td><img src=<%-JSON.stringify(result[countriesIndex][key].image)%> alt=""></td>
                  <td><a href=<%- JSON.stringify(result[countriesIndex][key].url)%>>View item in Ebay</a></td>
                  <td><p><%- JSON.stringify(result[countriesIndex][key].itemId)%></p></td>
                <% }); %>
              </tr>
              <% countriesIndex += 1 %>
          <% } %> 

        </div>
      </table>
          
       
        
    </div>
      <!-- <script>
        function myFunction() {
            var x = document.getElementById("mySearch").placeholder;
            document.getElementById("demo").innerHTML = x;
        }
      </script> -->

  </body>

</html>
